/*****************/
/*** Helvetica ***/
/*****************/

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/Helvetica/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/Helvetica/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.eot");
    src: url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/Helvetica/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/Helvetica/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
    font-family: "HelveticaUltraLight";
    src: url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot");
    src: url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*****************/
/*** Open Sans ***/
/*****************/

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*****************/
/*** Roboto ***/
/*****************/

/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
    src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
    src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*****************/
/*** Raleway ***/
/*****************/

/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayThin"; */
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot");
    src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraLight"; */
@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot");
    src: url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
    url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayLight"; */
@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot");
    src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"),
    url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
    url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot");
    src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraBold"; */
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBlack"; */
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/Raleway/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*****************/
/*** MyriadPro ***/
/*****************/

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
